.main-tabs {
  display: table;
  margin: auto; }
  .main-tabs .active a {
    background: #282828 !important;
    border: 1px solid #282828 !important;
    color: #fff !important;
    margin-right: auto;
    border-radius: initial; }
  .main-tabs li {
    border: 1px solid #a6a6a6;
    margin-right: 25px;
    width: 210px;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: inline-block; }
  .main-tabs a {
    font-size: 18px;
    color: #444;
    padding: 15px 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: block;
    line-height: 17px;
    margin-right: auto;
    border-radius: initial; }
    .main-tabs a:hover {
      color: #EC552C;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }

.owl-carousel-tabs .owl-nav {
  font-size: 25px; }
  .owl-carousel-tabs .owl-nav button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%; }
    .owl-carousel-tabs .owl-nav button:hover {
      background: #EC552C;
      border: 1px solid #EC552C;
      color: #fff; }
    .owl-carousel-tabs .owl-nav button:focus {
      outline: none; }
  .owl-carousel-tabs .owl-nav .owl-next {
    left: auto;
    right: -13px; }
.owl-carousel-tabs .owl-item {
  float: left; }
  .owl-carousel-tabs .owl-item .img-product {
    width: 250px;
    height: 250px; }

.main-slider {
  width: 100%; }
  .main-slider .owl-nav {
    font-size: 25px; }
    .main-slider .owl-nav button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 35%; }
      .main-slider .owl-nav button:hover {
        background: #EC552C;
        border: 1px solid #EC552C;
        color: #fff; }
      .main-slider .owl-nav button:focus {
        outline: none; }
    .main-slider .owl-nav .owl-next {
      left: auto;
      right: -13px; }

.collection {
  margin: 20px 0; }
  .collection img {
    width: 100%; }

.new_subscriber {
  padding: 110px 0;
  width: 100%;
  background-color: #4A4A4A; }
  .new_subscriber .text-left {
    text-align: left; }
    .new_subscriber .text-left h3 {
      color: #fefefe;
      font-size: 24px;
      margin-top: 15px; }
  .new_subscriber .sub_form {
    float: left;
    text-align: inherit;
    position: relative; }
    .new_subscriber .sub_form form {
      position: relative;
      width: 500px; }
      @media (max-width: 767px) {
        .new_subscriber .sub_form form {
          width: 243px; } }
    .new_subscriber .sub_form input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #bcbbbb;
      border-radius: 30px;
      color: #bcbbbb;
      font-size: 12px;
      margin-bottom: 15px;
      position: relative;
      width: 100%;
      height: 33px;
      padding-left: 20px; }
      .new_subscriber .sub_form input:focus {
        outline: none; }
    .new_subscriber .sub_form button {
      padding: 5.6px 30px;
      background: #ec552c none repeat scroll 0 0;
      border: 1px solid #ec552c;
      border-radius: 0 30px 30px 0;
      color: #ffffff;
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      .new_subscriber .sub_form button:focus {
        outline: none; }

.contact {
  padding: 90px 0;
  background-color: #3D3D3D; }
  .contact .left {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none; }
    .contact .left .logo {
      margin-bottom: 35px; }
    .contact .left p {
      color: #848383;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px; }
  .contact .right h2 {
    color: #fefefe;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px; }
  .contact .right input[type="text"]:first-child {
    margin-right: 40px; }
  .contact .right label {
    color: #848383; }
  .contact .right input {
    background: rgba(255, 255, 255, 0.12) none repeat scroll 0 0;
    border: 1px solid #646464;
    border-radius: 25px;
    color: #848383;
    font-size: 12px;
    height: 38px;
    padding-left: 15px;
    width: 100%; }
  .contact .right textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.12) none repeat scroll 0 0;
    border: 1px solid #646464;
    border-radius: 25px;
    color: #ddd;
    font-family: "montserratlight";
    font-size: 12px;
    resize: none;
    padding: 5px 12px;
    height: 170px; }
  .contact .right button {
    border: medium none;
    padding: 6px 30px;
    background: #ec552c none repeat scroll 0 0;
    border-bottom: medium none;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12.8px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }

.container_index {
  margin: 15px;
  box-sizing: border-box; }
  .container_index img {
    width: 100%; }
  .container_index span {
    display: block;
    text-align: center; }
  .container_index .more {
    display: table;
    margin: auto; }
    .container_index .more .btn-more {
      padding: 6px;
      color: black; }
      .container_index .more .btn-more:hover {
        text-decoration: none;
        color: white;
        background-color: #0b58a2; }

.product_img {
  width: 40%; }

.wrap_cart {
  text-align: center; }
  .wrap_cart .img-cart img {
    width: 100%; }
  .wrap_cart .count_cart input {
    width: 100%; }
  .wrap_cart .comment_cart textarea {
    max-width: 194px;
    max-height: 200px;
    min-height: 100px;
    min-width: 194px;
    width: 100%; }

.breadcrumb a {
  display: inline-block;
  color: #ed552c;
  font-size: 16px; }
  .breadcrumb a:hover {
    text-decoration: none; }

.site-index .product_detail h5 {
  color: #282828;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; }
  .site-index .product_detail h5 span {
    color: #EC552C; }
.site-index .product_detail h2 {
  margin-top: 10px;
  color: #282828;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px; }
.site-index .product_detail .detail {
  color: #444;
  font-size: 14px;
  line-height: 27px;
  padding-top: 20px;
  padding-bottom: 20px; }
.site-index .product_detail .product_price {
  color: #EC552C; }
  .site-index .product_detail .product_price h3 {
    margin-bottom: 12px; }
.site-index .content_variant .one_variant {
  float: left;
  margin-right: 40px; }
  .site-index .content_variant .one_variant input {
    width: 0;
    margin: 0 -3px 0 0; }
  .site-index .content_variant .one_variant label {
    cursor: pointer;
    border: 1px solid blue;
    padding: 2px;
    min-width: 50px;
    height: 30px; }
  .site-index .content_variant .one_variant input.check-color:checked + label {
    border: 1px solid red; }
  .site-index .content_variant .one_variant input.check-size:checked + label {
    border: 1px solid red; }
.site-index .related .link_relation {
  margin: 20px auto;
  width: 210px;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .site-index .related .link_relation a {
    padding: 10px;
    background: #282828 !important;
    border: 1px solid #282828 !important;
    color: #fff !important;
    margin-right: auto;
    border-radius: initial;
    font-size: 18px;
    text-decoration: none; }
    .site-index .related .link_relation a:hover {
      text-decoration: none; }

.footer {
  background: #252525;
  padding: 60px 0;
  height: initial;
  border: none; }
  .footer .container h5 {
    color: #ec552c;
    font-family: "montserratsemi_bold";
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase; }
    .footer .container h5:after {
      position: absolute;
      content: "";
      width: 68px;
      height: 1px;
      background: #ec552c;
      bottom: 0;
      left: 0; }
  .footer .container p {
    margin: 0;
    font-size: 16px;
    color: #ddd;
    font-family: 'montserratlight';
    line-height: 20px; }
  .footer .container li {
    color: #ddd;
    font-size: 18px;
    line-height: 20px;
    margin-right: 10px; }
  .footer .container a {
    color: #ddd;
    font-size: 16px;
    line-height: 25px;
    font-family: 'montserratlight';
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .footer .container a:hover {
      color: #ED552C;
      text-decoration: none; }
    .footer .container a:active {
      outline: 0 none; }

.admin-img th {
  text-align: center; }
.admin-img td {
  text-align: center; }
.admin-img img {
  width: 80px; }

.row {
  margin-right: 0;
  margin-left: 0; }

/*# sourceMappingURL=product.css.map */
