.main-slider {
  width: 100%;
  .owl-nav {
    font-size: 25px;
    button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 35%;
      &:hover {
        background: #EC552C;
        border: 1px solid #EC552C;
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
    .owl-next {
      left: auto;
      right: -13px;
    }
  }
}

.collection {
  margin: 20px 0;
  img {
    width: 100%;

  }

}

.new_subscriber {

  padding: 110px 0;
  width: 100%;
  background-color: #4A4A4A;
  .text-left {
    text-align: left;
    h3 {
      color: #fefefe;
      font-size: 24px;
      margin-top: 15px;
    }
  }

  .sub_form {

    float: left;
    text-align: inherit;
    position: relative;

    form {
      position: relative;
      width: 500px;

      @media (max-width: 767px) {
        width: 243px;
      }
    }
    input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #bcbbbb;
      border-radius: 30px;

      color: #bcbbbb;
      font-size: 12px;
      margin-bottom: 15px;
      position: relative;
      width: 100%;
      height: 33px;
      padding-left: 20px;
      &:focus {
        outline: none;
      }

    }
    button {
      padding: 5.6px 30px;

      background: #ec552c none repeat scroll 0 0;
      border: 1px solid #ec552c;
      border-radius: 0 30px 30px 0;
      color: #ffffff;
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;

      &:focus {
        outline: none;
      }

    }
  }

}

.contact {
  padding: 90px 0;
  background-color: #3D3D3D;
  .left {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    .logo {
      margin-bottom: 35px;
    }
    p {
      color: #848383;

      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px;
    }
  }
  .right {
    h2 {
      color: #fefefe;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 28px;
    }
    input[type="text"]:first-child {
      margin-right: 40px;
    }
    label {
      color: #848383
    }
    input {
      background: rgba(255, 255, 255, 0.12) none repeat scroll 0 0;
      border: 1px solid #646464;
      border-radius: 25px;
      color: #848383;

      font-size: 12px;
      height: 38px;
      padding-left: 15px;
      width: 100%;

    }
    textarea {
      width: 100%;
      background: rgba(255, 255, 255, 0.12) none repeat scroll 0 0;
      border: 1px solid #646464;
      border-radius: 25px;
      color: #ddd;
      font-family: "montserratlight";
      font-size: 12px;
      resize: none;
      padding: 5px 12px;
      height: 170px;

    }
    button {
      border: medium none;
      padding: 6px 30px;
      background: #ec552c none repeat scroll 0 0;
      border-bottom: medium none;
      border-radius: 20px;
      color: #ffffff;
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-size: 12.8px;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }

  }

}