
.breadcrumb {
  a {
    display: inline-block;
    color: #ed552c;
    font-size: 16px;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-index {
  .content_variant {
    .one_variant {
      float: left;
      margin-right: 40px;

    }
  }
}



